/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
body {
    font-family: "DM Sans", serif;
    color:#595959;
    font-size: 16px;
    line-height: 1.75;
    background-color:  #fff;
    font-weight: 400;
}

body.locked {
    overflow: hidden;
}

a {
    color:#63AB45;
    transition: all 400ms ease;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1D231F;
}

@media (max-width: 575px) {
    p br {
        display: none;
    }
}

::placeholder {
    color: inherit;
    opacity: 1;
}


/*--------------------------------------------------------------
#
--------------------------------------------------------------*/

form{
    display: block;
    width: 100%;
    position: relative;
}
input[type=text]{
    background: #fff;
    display: block;
    width: 100%;
    height: 65px !important;
    font-size: 16px;
    padding: 10px 30px !important;
    font-family: "DM Sans", serif;
    color: #595959;
}
.btn{
    font-size: 16px !important;
    font-family: "DM Sans", serif;
}
.section-title{
    font-family: "DM Sans", serif;
    color: #1D231F;
    text-transform: capitalize;
    font-weight: 700;
}

li{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1D231F;
}
ul>li + li{
    margin-top: 10px;
}